html {
    background-color: #e8e8e8 !important;
    
}
html {
    filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
    -webkit-filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}


@-moz-document url-prefix() {
    html {
        background-color: #171717 !important;
        
    }
    body {
        background-color: #171717 !important;
    }
  }


body {
    background-color: #e8e8e8 !important;
}

.content {
    background-color: #e8e8e8 !important;
}

.footer p{
    color: #171717;
}

img,
video,
body * [style*="background-image"] {
    filter: hue-rotate(180deg) contrast(100%) invert(100%) brightness(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%) brightness(100%);
}