{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="timeline">
    <div class="timeline-container left">
      <i class="timeline-icon fa fa-university"></i>
      <div class="timeline-content">
        <h3>FH Joanneum Graz</h3>
        <p>
          <b>2015 - 2017</b><br><br>Information Management
        </p>
      </div>
    </div>
    <div class="timeline-container right">
      <i class="timeline-icon fa fa-school"></i>
      <div class="timeline-content">
        <h3>ISWAT GmbH</h3>
        <p>
          <b>2018 - 2019</b><br><br> Apprenticeship Information Technology 
          <br><br>Software Developer
        </p>
      </div>
    </div>
    <div class="timeline-container left">
        <i class="timeline-icon fa fa-code"></i>
        <div class="timeline-content">
          <h3>Intact GmbH</h3>
          <p>
            <b>2021 -</b><br><br>Software Developer
          </p>
        </div>
      </div>

{{ partial "footer.html" . }}
