{{ define "main" }}
<div class="pagetitle">
    {{ .Title }}
</div>
<p style="color: red; ">The layout for this page is still a work in progress.</p>
<br>
{{ $paginator := .Paginate (.Data.Pages) }}


<div class="projectgrid">
    {{ range $paginator.Pages }}
    {{ $imagelink := print .Site.BaseURL .RelPermalink "cover.jpg"}}
    <div class="project-grid-item">
        <div class="project-grid-title"><a href="{{ .RelPermalink }}">{{ .Title}}</a></div>
        <div class="project-grid-content">
            <div class="project-grid-image">
                <img src="{{ $imagelink }}">
            </div>
            <div class="project-grid-description">
                <p>{{ .Summary }}</p>
            </div>
        </div>
        <div class="project-grid-github"><a href={{.Params.repository}}>
                <i class=" fab fa-github"></i> GitHub</a>
        </div>
    </div>

    {{ end }}
</div>
{{end}}