{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

{{ $paginator := .Paginate (.Data.Pages) }}

{{ range $paginator.Pages }}
<article class="post-snippet">
  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3> 
  
  {{ $imagelink := print .Site.BaseURL .RelPermalink .Params.coverimage}}

  <img src="{{ $imagelink }}" style="width:100px;height:100px;">
 
  <p>{{.Summary}}</p>
</article>



{{ end }}

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}