{{ define "main" }}
<div class="pagetitle">
    Notes
</div>

<p>This notes page is mostly for content that doesn't really fit into a blog post. 
  My main collection of notes is in my private 
  <a href="https://obsidian.md">Obsidian</a> vault.
</p>

<br>

<div class="notes-content">
  {{ range .Data.Pages }}

  <div class="notes-entry">
    <div class="notes-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>

    <div class="notes-entry-description">
      <p>{{.Description}}</p>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
