body {
    font-family: Arial, sans-serif;
    padding: 1em;
    max-width: 50em;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    gap: 1em;
    font-weight: bold;
}

.tags ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-right: 1em;
        margin-left: 1em;
    }
}

.micro-blog {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;

    .post {
        display: flex;
        margin-bottom: 0.7em;
    }

    .date {
        min-width: 7em;
        padding-right: 0.2em;
        color: #999;
    }
}