body {
    font-family: Arial, sans-serif;
    padding: 1em;
    max-width: 50em;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    gap: 1em;
    font-weight: bold;
}

.tags ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-right: 1em;
        margin-left: 1em;
    }
}

.micro-blog {
    display: flex;
    flex-direction: column;
    font-size: 0.95em;

    .post {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .date {
        font-weight: bold;
        min-width: 7em;

    }

    .content {}
}

.book-review {
    display: flex;
    flex-direction: column;
    font-size: 0.95em;

    display: flex;
    flex-direction: column;
    align-items: baseline;

    .header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .date {
        font-weight: bold;
        min-width: 7em;

    }

    .content {
        display: none;
        flex-direction: column;
    }

    .expand {
        font-style: bold;
        cursor: pointer;
        margin-left: 1em;
    }

    .rating-stars {
        display: inline-flex;
        flex-direction: row;
        gap: 0.2em;
    }

    .circle {
        background-color: black;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        border: .05em solid black;
        overflow: hidden;
    }

    .half-circle {
        background-color: black;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        border: .05em solid black;
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    }

    .circle-empty {
        background-color: white;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        border: .05em solid black;
    }
}

.start {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 1em;
        text-align: center;

        li {
            padding: 1em;
            background-color: red;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: lightcyan;
            padding: 0;

            li {

                background-color: beige;
                color: blue;
            }
        }
    }
}

.footnotes {
    hr {
        border: solid #F7F8F9;
        border-width: thin;
    }

    font-size: 0.8em;

    ol {
        padding-left: 1em;
    }

}