/* COLORS */

:root {
    --light-color: #fff;
    --dark-color: #171a21;

    --font-color-light-mode: #000;
    --font-color-dark-mode: #fff;

    /* --nav-background-color: #F7F8F9; */
    --nav-background-color: red;
}

/* LAYOUT */

body {
    background-color: var(--light-color);
    color: var(--font-color-light-mode);
    font-family: system-ui, Helvetica, sans-serif;
    margin: 0;
}

/* NAVIGATION */

.website-title {
    line-height: 1.5;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
}

.navigation {
    background-color: var(--nav-background-color);
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 2em;
    padding-bottom: 1em;

}

.navigation ul {
    width: fit-content;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-items: center;

}

.navigation li {
    vertical-align: middle;
}

.navigation a {
    display: block;
    padding-right: 1em;
    text-decoration: none;
    color: var(--dark-color);
    width: max-content;
}

/* CONTENT */

.content {
    background-color: aqua;
    margin-left: 7em;
    margin-right: 7em;
}

/* FOOTER */

.footer {
    margin-left: 7em;
    margin-right: 7em;
}

.footer hr {
    color: var(--nav-background-color);
}


/* MOBILE LAYOUT */

@media screen and (max-width: 800px) {
    .content .footer {
        margin-left: 1em;
        margin-right: 1em;
    }

    .navigation {
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;

    }

    .navigation ul {

        background-color: green;
        width: 100%;
        align-items: flex-end;
    }
}