{{ define "main" }}
<div class="pagetitle">
    Reading
</div>

<p>These are most of the books that I have read since March of 2019 when I got my Kindle.
    This page is supposed to be a backup/replacement of my Goodreads profile. <br><br> For some books,
    I decided not to review & rate them publicly here but I still add them manually without
    a review so the book count is still correct.
</p>

<div class="reading-stats">
    <h3>Reading stats</h3>

    <!--2023-->
    {{ $books2023 := where .Page.Pages ".Date.Year" "==" 2023 }}
    {{ $value2023 := len $books2023}}

    <!--2022-->
    {{ $books2022 := where .Page.Pages ".Date.Year" "==" 2022 }}
    {{ $value2022 := len $books2022}}
    <!--add one book without review -->
    {{ $value2022 := add $value2022 1}}

    <!--2021-->
    {{ $books2021 := where .Page.Pages ".Date.Year" "==" 2021 }}
    {{ $value2021 := len $books2021}}

    <!--2020-->
    {{ $books2020 := where .Page.Pages ".Date.Year" "==" 2020 }}
    {{ $value2020 := len $books2020}}

    <!--2019-->
    {{ $books2019 := where .Page.Pages ".Date.Year" "==" 2019 }}
    {{ $value2019 := len $books2019}}

    {{ $totalBooks := add $value2019 0}}
    {{ $totalBooks := add $totalBooks $value2020}}
    {{ $totalBooks := add $totalBooks $value2021}}
    {{ $totalBooks := add $totalBooks $value2022}}

    <!--Average rating-->
    {{ $ratingsum := 0}}
    {{ range .Page.Pages}}
    {{ $lengthcurrentrating := countrunes (trim .Params.rating "☆" )}}
    {{ $ratingsum = add $ratingsum $lengthcurrentrating}}
    {{end}}

    <!-- add rating for the one book without review-->
    {{$ratingsum := add $ratingsum 4}}


    {{ $averagerating := (div (float $ratingsum) (float $totalBooks)) | lang.FormatNumber 2}}

    <b>Total books:</b> {{ $totalBooks }}
    <br>
    <b>Average rating:</b> {{ $averagerating }}
    <br>
    <br>

    <table class="reading-stats-table">
        <tr>
            <td>2023:</td>
            <td>
                <div class="reading-progressbar">

                    {{ range $index, $num := (seq $value2023) }}
                    <span class="reading-stats-circle-black"></span>
                    {{ end }}

                    {{$remainder2023 := sub 20 $value2023}}
                    {{ range $index, $num := (seq $remainder2023) }}
                    <span class="reading-stats-circle-white"></span>
                    {{ end }}
                </div>
            </td>
        </tr>
        <tr>
            <td>2022:</td>
            <td>
                <div class="reading-progressbar">

                    {{ range $index, $num := (seq $value2022) }}
                    <span class="reading-stats-circle-black"></span>
                    {{ end }}

                    {{$remainder2022 := sub 20 $value2022}}
                    {{ range $index, $num := (seq $remainder2022) }}
                    <span class="reading-stats-circle-white"></span>
                    {{ end }}
                </div>
            </td>
        </tr>
        <tr>
            <td>2021:</td>
            <td>
                <div class="reading-progressbar">
                    {{ range $index, $num := (seq $value2021) }}
                    <span class="reading-stats-circle-black"></span>
                    {{ end }}

                    {{$remainder2021 := sub 20 $value2021}}
                    {{ range $index, $num := (seq $remainder2021) }}
                    <span class="reading-stats-circle-white"></span>
                    {{ end }}
                </div>
            </td>
        </tr>
        <tr>
            <td>2020:</td>
            <td>
                <div class="reading-progressbar">
                    {{ range $index, $num := (seq $value2020) }}
                    <span class="reading-stats-circle-black"></span>
                    {{ end }}

                    {{$remainder2020 := sub 20 $value2020}}
                    {{ range $index, $num := (seq $remainder2020) }}
                    <span class="reading-stats-circle-white"></span>
                    {{ end }}
                </div>
            </td>
        </tr>
        <tr>
            <td>2019:</td>
            <td>
                <div class="reading-progressbar">
                    {{ range $index, $num := (seq $value2019) }}
                    <span class="reading-stats-circle-black"></span>
                    {{ end }}

                    {{$remainder2019 := sub 20 $value2019}}
                    {{ range $index, $num := (seq $remainder2019) }}
                    <span class="reading-stats-circle-white"></span>
                    {{ end }}
                </div>
            </td>
        </tr>
    </table>
    <br>


</div>
<div class="separator">
    <hr>
</div>
<br>


{{ $paginator := .Paginate (.Data.Pages) }}
{{ range $paginator.Pages.GroupByDate "2006"}}

<h2>{{ .Key }}</h2>

{{ range .Pages }}

<div class="book-title">{{ .Params.booktitle }}</div>
<div class="book-details">
    {{ .Params.author }} ({{ .Params.publicationyear }})
</div>


<div class="book-rating">{{ .Params.rating }}</div>
<div class="book-review">{{ .Content }}</div>
<div class="book-dateread">Finished: {{ .Date.Format "January 2006" }}</div>

<br>
<div class="separator">
    <hr>
</div>
<br>
{{ end }}
{{ end }}
<div class="paginationicons">
    {{ if $paginator.HasPrev }}
    <span>
        <a href="{{ $paginator.Prev.URL }}"><i class="fa fa-less-than"></i></a>
    </span>
    {{ end }}

    {{ if $paginator.HasNext }}
    <span>
        <a href="{{ $paginator.Next.URL }}"><i class="fa fa-greater-than"></i></a>
    </span>
    {{ end }}
</div>
{{ end }}