{{ define "main" }}
<div class="pagetitle">
    Blog
</div>
<br>

<a href="/archive">Archive</a>
<br><br>

{{ $paginator := .Paginate (.Data.Pages) 10 }}
{{ range $paginator.Pages }}

<div class="blogentry">
    <div class="blogtitlecontainer">
    <div class="blogtitleinlist">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <div class="blogdetails">
        {{ .Date.Format "2 January 2006" }} <b>&nbsp;•&nbsp;</b> {{ .ReadingTime }} min to read
    </div></div>
    </div>


    <!-- <p>{{.Summary}}</p>

    {{ if .Truncated }}
    <div class="blog-read-more">
        <a href="{{ .RelPermalink }}">Read more »</a>
    </div>
    {{end}} -->
</div>

<!-- <div class="separator">
    <hr>
</div> -->

{{ end }}

<div class="paginationicons">
    {{ if $paginator.HasPrev }}
    <span>
        <a href="{{ $paginator.Prev.URL }}"><i class="fa fa-less-than"></i></a>
    </span>
    {{ end }}

    {{ if $paginator.HasNext }}
    <span>
        <a href="{{ $paginator.Next.URL }}"><i class="fa fa-greater-than"></i></a>
    </span>
    {{ end }}
</div>
{{ end }}