{{ define "main" }}
<div class="archive">
    <h1>{{ .Title }}</h1>
    <div class="content">{{ .Content }}</div>
    <ul>
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="yearheader">{{ .Key }}</div>
        {{ range $page := .Pages }}
        <li>
            <span class="date">{{ time.Format "01. Jan" .Date }}</span>
            <span class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}