<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h1><a href="/">{{ .Site.Title }}</a></h1>
            <div class="description">
                <p>{{ .Site.Params.description }}</p>
            </div>
            <hr>
            <nav>
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
            <footer class="footer footer-desktop">
                {{ partial "footer.html" . }}
            </footer>
        </div>
        <div class="content">
            {{ block "main" . }}{{ end }}
        </div>
        <footer class="footer footer-mobile">
            {{ partial "footer.html" . }}
        </footer>
    </div>
</body>

</html>