{{ define "main" }}
<div class="home">
    {{ .Content }}
    <div class="iconslist">
        <a href="https://github.com/matkv" target="_blank" rel="noopener noreferrer" title="GitHub">
            <i class="iconoir-github"></i>
        </a>
        <a href="https://stackoverflow.com/users/9710458/matkv" target="_blank" rel="noopener noreferrer"
            title="Stack Overflow">
            <i class="iconoir-stackoverflow"></i>
        </a>
        <a href="mailto:mail@matkv.dev" target="_blank" rel="noopener noreferrer" title="Email">
            <i class="iconoir-mail"></i>
        </a>
        <a href="https://lichess.org/@/matkv" target="_blank" rel="noopener noreferrer" title="Lichess">
            <i class="iconoir-bishop"></i>
        </a>
    </div>
    {{ range where (where site.RegularPages "Params.exclude_from_home" "!=" "true") "Params.archive" "!=" "true" }}
    <div class="post">
        <div class="title">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </div>
    </div>
    {{ end }}


</div>
{{ end }}