<div class="rating">
    <span class="rating-stars">
        {{ $rating := .Params.Rating }}
        {{ $fullStars := div (mul $rating 2) 2 | int }} <!-- Integer part of rating -->
        {{ $hasHalfStar := and (gt (mod (mul $rating 2) 2) 0) (lt $rating 5) }} <!-- Check if there's a half star -->
        {{ $emptyStars := sub 5 $fullStars (cond $hasHalfStar 1 0) }} <!-- Empty stars are 5 minus full and half -->

        {{ range $i, $ := seq 5 }}
        {{ if lt $i $fullStars }}
        <span class="circle"></span>
        {{ else if and (eq $i $fullStars) $hasHalfStar }}
        <span class="half-circle"></span>
        {{ else }}
        <span class="circle-empty"></span>
        {{ end }}
        {{ end }}
    </span>
</div>