<div class="rating">
    <span class="rating-stars">
        {{ $rating := .Params.Rating }}
        {{ $fullStars := div $rating 1 }}
        {{ $halfStar := mod $rating 1 }}
        {{ $emptyStars := sub 5 $fullStars $halfStar }}
        {{ range $i, $ := seq 5 }}
        {{ if lt $i $fullStars }}
        <span>●</span>
        {{ else if eq $i $fullStars }}
        {{ if gt $halfStar 0 }}
        <span>◐</span>
        {{ else }}
        <span>◐</span>
        {{ end }}
        {{ else }}
        <span>○</span>
        {{ end }}
        {{ end }}
    </span>
</div>