{{ define "main" }}
<div class="pagetitle">
    Hi, I'm Matko!
</div>
<p>
    I'm a software developer & this is my personal website. I built
    this website to have my own space on the internet to share my thoughts & things
    that are relevant to my interests and hobbies.

    <br>
    <br>
    My current side projects & things that I'm interested in at the moment can be found <a href="/now">here</a>.
</p>
<br>

<div class="temp-construction-note">This website is currently still under construction.</div>
<br>

<div class="separator">
    <hr>
</div>
<div class="iconlinks">
    <span>
        <a href="https://github.com/matkv"><i class="fab fa-github"></i></a>
    </span>
    <span>
        <a href="https://stackoverflow.com/users/9710458/matkv"><i class="fab fa-stack-overflow"></i></a>
    </span>
    <span>
        <a href="mailto:mail@matkobusljeta.com"><i class="far fa-envelope"></i></a>
    </span>
</div>
{{ end }}
