{{ define "main" }}
<h2>Welcome!</h2>
<p>This is my personal website. This is some random
    content that I am writing. This content is mostly
    just used to help with having some content while
    designing the site.</p>


<br>
<p>This is even more content.</p>

<div class="iconlinks">
    <span>
        <a href="https://github.com/matkv"><i class="fab fa-github"></i></a>
    </span>
    <span>
        <a href="https://stackoverflow.com/users/9710458/matkv"><i class="fab fa-stack-overflow"></i></a>
    </span>
    <span>
        <a href="mailto:mail@matkobusljeta.com"><i class="far fa-envelope"></i></a>
    </span>
</div>
{{ end }}