{{ define "main" }}
<div class="pagetitle">
  Welcome!
</div>
<p>
  This is my personal website. I use it as my
  own space on the internet to share my thoughts & things I find interesting.
</p>

<div class="indexlinksgrid">

  <div class="indexlinksrow">
    <div class="indexlinkstitle"><a href="/now">now</a></div>
    <hr>
    <div class="indexlinkscontent">current interests</div>
  </div>

  <div class="indexlinksrow">
    <div class="indexlinkstitle"><a href="/about">about</a></div>
    <hr>
    <div class="indexlinkscontent">information about myself</div>
  </div>

  <div class="indexlinksrow">
    <div class="indexlinkstitle"><a href="/blog">blog</a></div>
    <hr>
    <div class="indexlinkscontent">blog posts</div>
  </div>

  <div class="indexlinksrow">
    <div class="indexlinkstitle"><a href="/reading">reading</a></div>
    <hr>
    <div class="indexlinkscontent">book reviews</div>
  </div>

  <div class="indexlinksrow">
    <div class="indexlinkstitle"><a href="/notes">notes</a></div>
    <hr>
    <div class="indexlinkscontent">random notes</div>
  </div>

  <div class="indexlinksrow">
    <div class="indexlinkstitle"><a href="https://code.matkv.dev">code</a></div>
    <hr>
    <div class="indexlinkscontent">programming projects</div>
  </div>

</div>
<br>

<div class="temp-construction-note">Still under <a href="/changelog">construction</a> - latest update: {{ now.Format
  "02.01.06" }}
</div>
<br>

<div class="separator">
  <hr>
</div>
<div class="iconlinks">
  <span>
    <a href="https://github.com/matkv"><i class="fab fa-github"></i></a>
  </span>
  <span>
    <a href="https://stackoverflow.com/users/9710458/matkv"><i class="fab fa-stack-overflow"></i></a>
  </span>
  <span>
    <a href="mailto:mail@matkv.dev"><i class="far fa-envelope"></i></a>
  </span>
</div>
{{ end }}
