:root {
    --bg-color: #faf9f6;
    --text-color: #222;
    --font-family: 'DM Mono', monospace;
}

body {
    background: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 0.9em;
    padding: 2em;
}

.wrapper {
    max-width: 50em;
    margin: auto;
}