<header class="site-header">
  <div class="site-nav-banner">
    <nav class="site-nav">
      <a class="logo" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
      <ul class="main-menu">
        {{ range.Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}

        <li>
          <a><i id="dark-mode-toggle" class="far fa-moon"></i></a>
        </li>
      </ul>

      <script>
        var toggle = document.getElementById("dark-mode-toggle");
        var darkTheme = document.getElementById("dark-mode-theme");

        toggle.addEventListener("click", () => {
          if (toggle.className === "fas fa-moon") {
            setTheme("dark");
          } else if (toggle.className === "fas fa-sun") {
            setTheme("light")
          }
        })



        //use local storage to save theme
        var savedTheme = localStorage.getItem("dark-mode-storage") || "light";
        setTheme(savedTheme);

        function setTheme(mode) {
          localStorage.setItem("dark-mode-storage", mode);

          if (mode === "dark") {
            darkTheme.disabled = false;
            toggle.className = "fas fa-sun";
          } else if (mode === "light") {
            darkTheme.disabled = true;
            toggle.className = "fas fa-moon"
          }
        }

      </script>

    </nav>
  </div>
</header>