{{ partial "header.html" . }}

{{ .Content }}


<div class="iconlinks">
    <span style="font-size: 2.5em;">
        <a href="https://github.com/matkv"><i class="fab fa-github"></i></a>
    </span>
    <span style="font-size: 2.5em;">
        <a href="https://stackoverflow.com/users/9710458/matkv"><i class="fab fa-stack-overflow"></i></a>
    </span>    
    <span style="font-size: 2.5em;">
        <a href="mailto:mail@matkobusljeta.com"><i class="far fa-envelope"></i></a>
    </span>
</div>



{{ partial "footer.html" . }}