{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<div class="book-favorites">
    <h2 class="heading">Favorite Books</h2>
    <div class="list">
        {{ range .Pages }}
        {{ if .Params.favorite }}
        <div class="item">
            <div class="title">{{ .Params.Title }}</div>
            <div class="author">{{ .Params.bookauthor }}</div>
            <div class="book-review rating-stars">{{ partial "rating.html" .}}</div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>

{{ range .Data.Pages.GroupByDate "2006" }}
<div class="book-review">
    <div class="yearheader">{{ .Key }}</div>
    {{ range $page := .Pages }}
    <div class="header">
        <div class="date">{{ time.Format "Jan 2006" .Date }}</div>
        {{ partial "rating.html" . }}
        <div class="title"><b>{{ .Params.Title }}</b> - {{ .Params.bookauthor }}</div>
        {{ if ne .Content "" }}
        <div class="expand" data-content-id="content-{{ $page.File.Path | urlize }}">
            <div class="expandable-indicator"></div>
        </div>
        {{ end }}
    </div>
    <div class="content" data-content-id="content-{{ $page.File.Path | urlize }}" style="display:none;">{{ .Content }}
    </div>
    {{ end }}
</div>
{{ end }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var expandElements = document.querySelectorAll('.expand');
        expandElements.forEach(function (expand) {
            expand.addEventListener('click', function () {
                var contentId = this.getAttribute('data-content-id');
                var content = document.querySelector('.content[data-content-id="' + contentId + '"]');
                if (content) {
                    content.style.display = content.style.display === 'none' || content.style.display === '' ? 'flex' : 'none';
                }
            });
        });
    });
</script>
{{ end }}